<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <title>Tutorial Lista de Tareas en Angular</title>
</head>
<body oncopy="return false">
    <section class="container">
        <header class="header padding">
            <h1>Lista de tareas creada con Angular</h1>
            <p>
                A continuacion se realizara el ejercicio dado en el curso Argentina Programa (segunda etapa) en su 3er modulo. <br>
            <i><b>por motivos de garantizar todo el trabajo posible y necesario, se desabilita en esta pagina el copiar texto (por ende, codigo)</b></i>
            </p>

            <div>
                <p class="abbr-effect inline">(?) Efecto</p>
                <p class="abbr-caution inline">(?) Indicacion</p>
                <p class="abbr-curiosity inline">(?) Curiosidad o Tip</p>
            </div>

            
        </header>


        <h4>Paso a paso:</h4>

        <div class="container border">
            <div class="padding">
                <h5>Terminal</h5>
                <p>
                    Abrir la Terminal y crear un directorio donde querramos nuestro proyecto. <br>
                    Comando: <b>ng new task-list</b> para crear el proyecto (App). 
                    <abbr class="abbr-curiosity" title="Con 'code .' en la Terminal, abrimos Visual Studio Code usando el directorio donde se encuentra operando nuestra terminal.">(?)</abbr>
                </p>
                <h5>Code</h5>
                <p>
                    Una vez en Code, abrimos terminal dentro y con el comando <b>ng serve</b> iniciamos la App creada 
                    <abbr class="abbr-curiosity" title="Que en principio contendra una Demo de Angular.">(?)</abbr> 
                    <abbr class="abbr-caution" title="Encontraremos la App funcionando escribiendo en la URL de un navegador: 'localhost:' mas el puerto que de Code. 'localhost:4200' es el por default de Angular Live Development Server (que fue lo iniciado con el comando indicado).">(?)</abbr>
                </p>
            </div>

        </div>

        <div class="border">
            <div class="margin">
                <h5>
                    A continuacion se ira mostrando bloque por bloque de manera focalizada, paso a paso, e intentando explicar sobre la marcha, todo el procedimiento para tener nuestra App funcionando:
                </h5>
                <p>
                    El procedimiento sera ir Creando Componentes, los cuales iremos "nutriendo" de codigo para luego ir entrelazando sus funcionalidades unos con otros. <br>
                    <span class="alerta">Dado esto ultimo, tendremos que respetar los nombres de componentes, variables, funciones, de lo contrario al interconectar ninguno encontrara al otro (salvo que indiquemos su nuevo nombre dado por error, acertado al conectar.</span>
                </p>
                <p>
                    Para este proyecto tenemos disponible el CSS global <a href="css/globalstyles.css" target="_blank">aquí</a> que debemos aplicar 
                    <abbr class="abbr-caution" title="copiar y pegar a styles.css en carpeta src del proyecto">(?)</abbr> <br><br>                        
                    Borramos el Contenido dentro del Template general en: <b>src/app/app.component.html</b> 
                    <abbr class="abbr-curiosity" title="Lo borrado es el contenido de la Demo.">(?)</abbr>
                </p>
            </div>
            
        </div>

            <!-- Header Component -->   
        <div class="border">
            <div class="margin">
                <h4>Header</h4>
                <p>
                    Terminal de Code: <b>ng generate component components/header</b> 
                    <abbr class="abbr-curiosity" title="Generamos un nuevo Componente llamado header el cual sera generado en la carpeta components.">(?)</abbr>
                </p>
            </div>
            <div class="directorio">
                <i class="fa fa-folder icon-folder"></i> <p class="inline">src</p>
                <div class="dir-folder">
                    <ul type="disc">
                        <li>app</li>
                        <ul type="disc">
                            <li>components</li>
                            <ul type="disc">
                                <li>header</li>
                            </ul>
                        </ul>
                    </ul>
                </div>
            </div>

            <div class="border padding margin">
                <p>
                    header.component.<b>ts</b>: 
                    
                    <abbr class="abbr-effect" title="Creamos la variable 'title' (que usaremos de Titulo) en el componente logico.">(?)</abbr>
                    <abbr class="abbr-caution" title="Arriba de: constructor() { }.">(?)</abbr>
      
                </p>
                <div class="centrado">
                    <pre>
                        <code>
    import { Component, OnInit } from '@angular/core';

    @Component({
        selector: 'app-header',
        templateUrl: './header.component.html',
        styleUrls: ['./header.component.css']
    })
    export class HeaderComponent implements OnInit {
                            
        <span class="new-code">title:string = 'Task List';</span>
                            
        constructor() { }
                            
        ngOnInit(): void {
        }
                            
    }                                                        
                        </code>
                    </pre>
                </div>
                
            </div>

                <div class="border padding margin">
                    <p>
                        header.component.<b>html</b>: <abbr class="abbr-effect" title="Llamamos en el Template (.html) de Header a la variable 'title' del componente logico (.ts).">(?)</abbr>
                    </p>
                    <pre>
                        <code>                            
    <span class="new-code">&lt;header&gt;</span>
        <span class="new-code">&lt;h1&gt;{{title}}&lt;/h1&gt;</span>
    <span class="new-code">&lt;/header&gt;</span>
                        </code>
                    </pre>
                </div>

                <div class="border padding margin">
                    <p class="margin-zero">
                        header.component.<b>css</b>: Para los estilos propios del Componente 'Header' usaremos <a href="/css/header.component.css" target="_blank">estos</a>.
                    </p>                      
                </div>


            <!-- App Component -->
            <div class="padding">
                <div class="directorio">
                    <i class="fa fa-folder icon-folder"></i> <p class="inline">src</p>
                    <div class="dir-folder">
                        <ul type="disc">
                            <li>app</li>                        
                        </ul>
                    </div>
                </div>
    
                <div class="border padding margin">
                    <p>
                        app.component.<b>html</b>: <abbr class="abbr-effect" title="Montamos el componente Header en el Template (HTML) del App. En este caso el HTML Header.Component es montado en el HTML App.Component.">(?)</abbr>
                    </p>
                    <pre>
                        <code>
    <span class="new-code">&lt;div&gt;</span>
        <span class="new-code">&lt;app-header&gt;&lt;/app-header&gt;</span>
    <span class="new-code">&lt;/div&gt;</span>               
                        </code>
                    </pre>
                </div>
            </div>            

        </div>

        <!-- Git -->
        <div class="container border">
            <div class="padding">
                <h3 class="inline">Git</h3>
                <h5 class="inline"><abbr class="abbr-caution" title="Esto es opcional.">(?)</abbr></h5>
                <p>
                    En una nueva Terminal en Code: <br>
                    <b>
                    git add --all <br>
                    git commit -m "Primer componente header" <br><br>
    
                    git branch boton_task <br>
                    git branch <br>
                    git checkout boton_task
                    </b>
                </p>
            </div>
        </div>

        <!-- Button Component -->
        
        <div class="border">
            <h4 class="padding margin">Componente Boton:</h4>
            <div class="padding">
                <p>
                    Terminal de Code: <b>ng generate component components/button</b> <abbr class="abbr-effect" title="Crearemos el Componente que hara de Boton.">(?)</abbr>
                </p>
            </div>

            <div class="directorio">
                <i class="fa fa-folder icon-folder"></i> <p class="inline">src</p>
                <div class="dir-folder">
                    <ul type="disc">
                        <li>app</li>
                        <ul type="disc">
                            <li>components</li>
                            <ul type="disc">
                                <li>header</li>
                            </ul>
                        </ul>
                    </ul>
                </div>
            </div>

            <div class="border padding margin">
                <p>
                    header.component.<b>html</b>: <abbr class="abbr-effect" title="Montaremos el modulo del Boton en el modulo Header. Al mismo tiempo que le asignamos un Color y un Texto.">(?)</abbr>
                </p>
                <pre>
                    <code>
    &lt;header&gt;
    &lt;h1&gt;{{title}}&lt;/h1&gt;
    <span class="new-code">&lt;app-button color="green" text="Add Task&lt;/app-button&gt;</span>
    &lt;/header&gt;
                    </code>
                </pre>
            </div>
            
            <div class="directorio">
                <i class="fa fa-folder icon-folder"></i> <p class="inline">src</p>
                <div class="dir-folder">
                    <ul type="disc">
                        <li>app</li>
                        <ul type="disc">
                            <li>components</li>
                            <ul type="disc">
                                <li>button</li>
                            </ul>
                        </ul>
                    </ul>
                </div>
            </div>

            <div>
                <div class="border padding margin">
                    <p>
                        button.component.<b>html</b>: <abbr class="abbr-effect" title="Al template de Button le agregamos un Boton y con estilo del Style Global.">(?)</abbr> <abbr class="abbr-curiosity" title="&#123;&#123;text&#125;&#125; sera la variable que asignaremos luego en el button.component.ts al igual que la direccion de &#91;ngStyle&#93; para el color.">(?)</abbr> <abbr class="abbr-caution" title="&#91;ngStyle&#93;, respetar la mayuscula.">(?)</abbr>
                    </p>
                    <pre>
                        <code>
    <span class="new-code">&lt;button class="btn" &#91;ngStyle&#93;="&#123;'background-color': color&#125;"&gt;&#123;&#123;text&#125;&#125;&lt;/button&gt;</span>     
                        </code>
                    </pre>
                </div>

                <div class="margin">
                    <p class="margin-zero">
                        Ahora tenemos que indicar que el Template (HTML) del Button reciba datos del Template Header. <abbr class="abbr-curiosity" title="el color=&quot;green&quot; text=&quot;Add Task&quot; .">(?)</abbr>
                    </p>
                </div>

                

                <div class="border padding margin">
                    <p>
                        button.component.<b>ts</b>:
                    </p>
                    <pre>
                        <code>
    import { Component, OnInit<span class="new-code">, Input</span> } from '@angular/core';
    
    @Component({
        selector: 'app-button',
        templateUrl: './button.component.html',
        styleUrls: ['./button.component.css']
    })
    export class ButtonComponent implements OnInit {
                                
        <span class="new-code">@Input() text: string = "";</span>
        <span class="new-code">@Input() color: string = "";</span>
                                                          
        constructor() { }
                              
        ngOnInit(): void {
        }
                              
    }
                        </code>
                    </pre>
                </div>

                <div class="padding">
                    <p>Crearemos una Funcion para tomar el Click de nuestro boton:</p>
                    <div class="border padding margin">
                        <p class="margin">
                            button.component.<b>ts</b>:
                            <abbr class="abbr-curiosity" title="Debug: en las '{}' de onClick podemos colocar console.log&#40;'menseje deseado'&#41; para que emita en consola a modo de verificar que este funcionando cuando le hagamos click.">(?)</abbr>
                        </p>
                        <pre>
                            <code>
    import { Component, OnInit, Input } from '@angular/core';
        
    @Component({
        selector: 'app-button',
        templateUrl: './button.component.html',
        styleUrls: ['./button.component.css']
    })
    export class ButtonComponent implements OnInit {
                                    
        @Input() text: string = "";
        @Input() color: string = "";
                                                              
        constructor() { }
                                  
        ngOnInit(): void {
        }

        <span class="new-code">onClick(){</span>
            <span class="new-code">this.btnClick.emit();</span>    
        <span class="new-code">}</span>
                                  
    }
                            </code>
                        </pre>

                        

                    </div>

                    <p class="margin">Y agregamos esta Funcion a la etiqueta button del Template (.html):</p>

                    <div class="border padding margin">
                        <p>button.component.<b>html</b>:</p>
                        <pre>
                            <code>
    &lt;button class="btn" [ngStyle]="{'background-color': color}" <span class="new-code">(click)="onClick()"</span>&gt;{{text}}&lt;/button&gt;
                            </code>
                        </pre>
                    </div>
                        

                    <p class="margin">Queremos que nuestra Funcion lleve informacion hacia el Header. Proseguimos con los Outputs:</p>

                    <div class="border padding margin">

                        <p>button.component.<b>ts</b>: <abbr class="abbr-effect" title="Esta funcion emitira un Evento.">(?)</abbr></p>   

                        <pre>
                            <code>
    import { Component, OnInit, Input<span class="new-code">, Output, EventEmitter</span> } from '@angular/core';
        
    @Component({
        selector: 'app-button',
        templateUrl: './button.component.html',
        styleUrls: ['./button.component.css']
    })
    export class ButtonComponent implements OnInit {
                                    
        @Input() text: string = "";
        @Input() color: string = "";
        <span class="new-code">@Output() btnClick = new EventEmitter</span>
                                                              
        constructor() { }
                                  
        ngOnInit(): void {
        }

        onClick(){
            console.log("Click!")    
        }
                                  
    }
                            </code>
                        </pre>
                    </div>

                    <p class="margin">Necesitamos que el Evento de nuestra Funcion llegue al Header:</p>

                    <div class="directorio">
                        <i class="fa fa-folder icon-folder"></i> <p class="inline">src</p>
                        <div class="dir-folder">
                            <ul type="disc">
                                <li>app</li>
                                <ul type="disc">
                                    <li>components</li>
                                    <ul type="disc">
                                        <li>header</li>
                                    </ul>
                                </ul>
                            </ul>
                        </div>
                    </div>
                    

                    <div class="border padding margin">
                        <p>
                            header.component.<b>html</b>: 
                            <abbr class="abbr-effect" title="Cuando se resiva nuestra accion (btnClick) hara llamado a la funcion toogleAddTask() que crearemos en el .TS de Header.">(?)</abbr>
                            <abbr class="abbr-caution" title="Recordar que el btnClick viene de Salida desde el Componente Button. Dicho queda por si alguien se perdio mentalmente en la conectividad de los asuntos.">(?)</abbr>
                        </p>
                        <pre>
                            <code>
    &lt;header&gt;
        &lt;h1&gt;{{title}}&lt;/h1&gt;
        &lt;app-button color="green" text="Add Task" <span class="new-code">btnClick)="toogleAddTask()"</span>&gt;&lt;/app-button&gt;
    &lt;/header&gt;
                            </code>
                        </pre>
                    </div>

                    <div class="border padding margin">
                        <p>
                            header.component.<b>ts</b>:
                            <abbr class="abbr-caution" title="Desde el Template (.html) de Button envia hacia la Logica (.ts) del mismo, para luego enviar al Template de Header, para luego desde este ultimo, enviar a la Logica de Header nuestra consulta, nuestro 'click'.">(?)</abbr>
                            <abbr class="abbr-curiosity" title="Debug: toogleAddTask(){console.log('toogleAddTask!');} , o sea, podemos usar el nombre de la funcion como mensaje a enviar a consola para facilitar identificacion de funcionamientos.">(?)</abbr>
                        </p>
                        <pre>
                            <code>
    import { Component, OnInit } from '@angular/core';

    @Component({
        selector: 'app-header',
        templateUrl: './header.component.html',
        styleUrls: ['./header.component.css']
    })
    export class HeaderComponent implements OnInit {
                                
        title:string = 'Task List';
                                
        constructor() { }
                                
        ngOnInit(): void {
        }
                                
        <span class="new-code">toogleAddTask(){</span>
            <span class="new-code">console.log("toogleAddTask!");</span>
        <span class="new-code">}</span>                            
                                    
    }
                            </code>
                        </pre>                        
                    </div>


                </div>


                                
            </div>


        </div>

        <!-- Git 2 -->
        <div class="border">
            <div>
                <div class="padding margin">
                    <h3 class="inline">Git</h3>
                    <h5 class="inline"><abbr class="abbr-caution" title="Esto es opcional.">(?)</abbr> <abbr class="abbr-curiosity" title="Puede que sea necesario reiniciar el servidor nuevamente con el comando 'ng serve' tras los siguientes comandos.">(?)</abbr></h5>
                    <p>
                        Terminal de Code: <br>
                        <b>
                        git add --all <br>
                        git commit -m "Primer boton" <br><br>
        
                        git checkout master <br>
                        git merge boton_task
                        </b>
                    </p>
                </div>
            </div>
        </div>

        <!-- Pre-Base de Datos -->
        <div class="border">
            <div class="margin">
                <h4>Emulador de Base de Datos y pre-base, para la Base de Datos.</h4>
            </div>
            <div class="directorio">
                <i class="fa fa-folder icon-folder"></i> <p class="inline">src</p>
                <div class="dir-folder">
                    <ul type="disc">
                        <li>app</li>
                    </ul>
                </div>
            </div>
            <div class="margin">
                <p>
                    Creamos un nuevo archivo llamado <b>mock-tasks.ts</b>
                    <abbr class="abbr-effect" title="Usaremos este archivo de base de datos temporal.">(?)</abbr>
                </p>
            </div>
            <div class="border padding margin">
                <p>mock-tasks.<b>ts</b>:</p>
                <pre>
                    <code>
    <span class="new-code">export const TASKS = [</span>
        <span class="new-code">{</span>
        <span class="new-code">id: 1,</span>
        <span class="new-code">text: "Terminar primer modulo de Angular",</span>
        <span class="new-code">day: "Agosto 5 a las 12:00",</span>
        <span class="new-code">reminder: true</span>
        <span class="new-code">},</span>
        <span class="new-code">{</span>
        <span class="new-code">id: 2,</span>
        <span class="new-code">text: "Hacer las compras para la cena",</span>
        <span class="new-code">day: "Agosto 5 a las 17:00",</span>
        <span class="new-code">reminder: true</span>
        <span class="new-code">},</span>
        <span class="new-code">{</span>
        <span class="new-code">id: 3,</span>
        <span class="new-code">text: "Investigar sobre Bootstrap",</span>
        <span class="new-code">day: "Agosto 5 a las 19:00",</span>
        <span class="new-code">reminder: false</span>
        <span class="new-code">},</span>
    <span class="new-code">]</span>               
                    </code>
                </pre>
            </div>
            <div class="margin">
                <p>
                    Creamos un nuevo archivo llamado <b>Tasks.ts</b>
                    <abbr class="abbr-effect" title="Usaremos este archivo de interfase de la base de datos temporal.">(?)</abbr>
                </p>
                <div class="border">
                    <div class="padding">
                        <p>Task.<b>ts</b>:</p>
                        <pre>
                            <code>
    <span class="new-code">export interface Task {</span>
        <span class="new-code">id?: number;</span>
        <span class="new-code">text: string;</span>
        <span class="new-code">day: string;</span>
        <span class="new-code">reminder: boolean;</span>
    <span class="new-code">}</span>                             
                            </code>
                        </pre>
                    </div>
                </div>
                <div class="padding">
                    <p>Importamos la interface:</p>
                </div>
                <div class="border">
                    <div class="padding">
                        <p>
                            mock-task.<b>ts</b>:
                            <abbr class="abbr-curiosity" title="Puedes comprobar que la interface esta funcionando al intentar cambiar el 'true' de 'reminder' por cualquier otra cosa que no sea un boolean, nos dara error el editor cuando no sea un boolean (por ejemplo).">(?)</abbr>
                        </p>
                        <pre>
                            <code>
        <span class="new-code">import {Task} from "./Task"</span>
            export const TASKS<span class="new-code">: Task[]</span> = [
            {
                id: 1,
                text: "Terminar primer modulo de Angular",
                day: "Agosto 5 a las 12:00",
                reminder: true
            },
            {
                id: 2,
                text: "Hacer las compras para la cena",
                day: "Agosto 5 a las 17:00",
                reminder: true
            },
            {
                id: 3,
                text: "Investigar sobre Bootstrap",
                day: "Agosto 5 a las 19:00",
                reminder: false
            },
                            
        ]      
                            </code>                                                          
                        </pre>
                    </div>
                </div>            
            </div>
        </div>



        <!-- "Pagina" -->
        <!-- Git 3 -->
        <div class="border padding">
            <h3 class="inline margin">Git</h3>
            <h5 class="inline"><abbr class="abbr-caution" title="Esto es opcional.">(?)</abbr> <abbr class="abbr-curiosity" title="Puede que sea necesario reiniciar el servidor nuevamente con el comando 'ng serve' tras los siguientes comandos.">(?)</abbr></h5>
            <p class="margin">
                Terminal de Code: <br>
                <b>
                git add --all <br>
                git commit -m "Agregar mock de tareas y el interface de las mismas" <br><br>
                git branch task_list <br>
                git checkout task_list        
                </b>
            </p>
        </div> 

        <!-- "Pagina" -->
        <!-- Task List -->
        <div class="border">

            <div class="padding margin">
                <h4>Componente para la Lista (de tareas)</h4>
                <p>Terminal de Code: <b>ng generate component components/tasks</b></p>
            </div>

            <div>
                <div class="directorio">
                    <i class="fa fa-folder icon-folder"></i> <p class="inline">src</p>
                    <div class="dir-folder">
                        <ul type="disc">
                            <li>app</li>
                        </ul>
                    </div>
                </div>
                <div class="border padding margin">
                    <p>
                        app.component.<b>html</b>:
                        <abbr class="abbr-effect" title="Montamos el Componente Tasks en el Template App.">(?)</abbr>
                        <abbr class="abbr-curiosity" title="Siempre que montemos un componente en el App, dicho componente recien creado contendra un paragrap con un escrito indicando su nombre y que 'funciona'.">(?)</abbr>
                    </p>
                    <pre>
                        <code>
    &lt;div class="container"&gt;
        &lt;app-header&gt;&lt;/app-header&gt;
        <span class="new-code">&lt;app-tasks&gt;&lt;/app-tasks&gt;</span>             
    &lt;/div&gt;
                        </code>
                    </pre>
                </div>  
                <div class="directorio">
                    <i class="fa fa-folder icon-folder"></i> <p class="inline">src</p>
                    <div class="dir-folder">
                        <ul type="disc">
                            <li>app</li>
                            <ul type="disc">
                                <li>components</li>
                                <ul type="disc">
                                    <li>tasks</li>
                                </ul>
                            </ul>
                        </ul>
                    </div>
                </div>   
                <div class="border padding margin">
                    <p>
                        tasks.component.<b>ts</b>:
                        <abbr class="abbr-effect" title="Importamos nuestra Lista de Tareas (mock-tasks) y nuestra Interface. E inicializamos nuestra Inteface como un Array la cual traera las Tareas desde nuestro mock-tasks.">(?)</abbr>
                    </p>
                    <pre>
                        <code>
    import { Component, OnInit } from '@angular/core';
    <span class="new-code">import {Task} from '../../Task'</span>
    <span class="new-code">import {TASKS} from '../../mock-tasks'</span>                          
                            
    @Component({
        selector: 'app-tasks',
        templateUrl: './tasks.component.html',
        styleUrls: ['./tasks.component.css']
    })
    export class TasksComponent implements OnInit {
        <span class="new-code">tasks: Task[] = TASKS;</span>                              
                            
        constructor() { }
                            
        ngOnInit(): void {
        }
                            
    }
                                                        
                        </code>
                    </pre>
                </div>    

                <div class="border padding margin">
                    <p>
                        tasks.component.<b>html</b>:
                    </p>
                    <pre>
                        <code>
    <span class="delete-code">&lt;p&gt;tasks works!&lt;/p&gt;</span>
    <span class="new-code">&lt;p *ngFor=&quot;let task of tasks&quot;&gt;</span>
        <span class="new-code">&#123;&#123;task.text&#125;&#125;</span>
    <span class="new-code">&lt;/p&gt;</span>  
                        </code>
                    </pre>
                </div>  


                <!-- Tarjetas -->
                <div class="margin">
                    <h4>Tarjetas:</h4>
                <p>
                    Queremos que cada Tarea sea una Tarjeta. Entonces crearemos un nuevo Componente para este proposito: <br> <br>
                    Terminal de Code: <b>ng generate component components/tasks-item</b> <br> <br>
                    Actualizamos/preparamos la Lista de Tareas (Componente Tasks, Components/Tasks) para que reciba desde Tasks-Item (montamos Tasks-Item en Tasks):
                    <abbr class="abbr-curiosity" title="Que seria montar nuestras Tarjetas con Tareas individualizadas (una tarea, por tarjeta) en nuestra Lista de Tareas.">(?)</abbr>
                </p>
                </div>
                

                <div class="border padding margin">
                    <p>
                        tasks.component.<b>html</b>:
                    </p>
                    <pre>
                        <code>
    &lt;<span class="new-code">app-tasks-item</span> *ngFor=&quot;let task of tasks&quot;&gt;
        &#123;&#123;task.text&#125;&#125;
    &lt;<span class="new-code">/app-tasks-item</span>&gt;
                        </code>
                    </pre>
                </div>

                <div class="directorio">
                    <i class="fa fa-folder icon-folder"></i> <p class="inline">src</p>
                    <div class="dir-folder">
                        <ul type="disc">
                            <li>app</li>
                            <ul type="disc">
                                <li>components</li>
                                <ul type="disc">
                                    <li>tasks-item</li>
                                </ul>
                            </ul>
                        </ul>
                    </div>
                </div>

                <p class="margin">
                    Condicionamos el Tasks-Item con los correspondientes Inputs:
                </p>

                <div class="border padding margin">
                    <p>
                        tasks-item.<b>ts</b>:
                        <abbr class="abbr-effect" title="Habilitamos el Input (entrada) cuyo nombre sera 'task' que sera del tipo 'Task' que sera 'del tipo de' la Interface creada y por ello la importamos tambien.">(?)</abbr>
                    </p>                    
                    <div>
                        <pre>
                            <code>
    import { Component, OnInit<span class="new-code">, Input</span> } from '@angular/core';
    <span class="new-code">import {Task} from '../../Task'</span>

    @Component({
        selector: 'app-tasks-item',
        templateUrl: './tasks-item.component.html',
        styleUrls: ['./tasks-item.component.css']
    })
    export class TasksItemComponent implements OnInit {
        <span class="new-code">@Input() task: Task = TASKS[0]</span>
                                
        constructor() { }
                                
        ngOnInit(): void {
        }
                                
    }
                            </code>
                        </pre>
                    </div>
                </div>


                
                <p class="alerta">!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! Dev: Atento a tasks.item.ts. Minuto 38:57.</p>
                <div class="directorio">
                    <i class="fa fa-folder icon-folder"></i> <p class="inline">src</p>
                    <div class="dir-folder">
                        <ul type="disc">
                            <li>app</li>
                            <ul type="disc">
                                <li>components</li>
                                <ul type="disc">
                                    <li>tasks</li>
                                </ul>
                            </ul>
                        </ul>
                    </div>
                </div>

                <p class="margin">
                    Condicionamos para que el tasks-item montado en tasks.html, cree la cantidad de etiquetas (tasks-item) en el Template de Tasks segun cuantas tareas tengamos:
                </p>

                <div class="border padding margin">
                    <p>tasks.component.<b>html</b>:</p>
                    <pre>
                        <code>
    &lt;app-tasks-item *ngFor="let task of tasks" <span class="new-code">[task] = "task"</span>&gt;<span class="delete-code">&#123;&#123;task.text&#125;&#125;</span>&lt;/app-tasks-item&gt;
                        </code>
                    </pre>
                </div>




                <div class="directorio">
                    <i class="fa fa-folder icon-folder"></i> <p class="inline">src</p>
                    <div class="dir-folder">
                        <ul type="disc">
                            <li>app</li>
                            <ul type="disc">
                                <li>components</li>
                                <ul type="disc">
                                    <li>tasks-item</li>
                                </ul>
                            </ul>
                        </ul>
                    </div>
                </div>

                <div class="margin">
                    <p>Creamos la Estructura que tendran las Tarjetas:</p>
                </div>
                <div class="border padding margin">
                    <p>tasks-item.component.<b>html</b>:</p>
                    <pre>
                        <code>
    <span class="delete-code">&lt;p&gt;tasks-item works!&lt;/p&gt;</span>
    <span class="new-code">&lt;div class="task"&gt;</span>
        <span class="new-code">&lt;h3&gt;&#123;&#123;task.text&#125;&#125;&lt;/h3&gt;</span>
        <span class="new-code">&lt;p&gt;&#123;&#123;task.text&#125;&#125;&lt;/p&gt;</span>
    <span class="new-code">&lt;/div&gt;</span>
                        </code>
                    </pre>
                </div>
                <div class="margin">
                    <p>
                        Aplicamos los siguientes estilos a <b>tasks-item.component.css</b>:
                        <a href="css/tasks-item.component.css" target="_blank">Archivo</a>
                    </p>
                </div>
                

            </div>


        </div>


        <!-- "Pagina" -->
        <!-- Git 3 -->
        <div class="border padding">
            <h3 class="inline margin">Git</h3>
            <h5 class="inline"><abbr class="abbr-caution" title="Esto es opcional.">(?)</abbr> <abbr class="abbr-curiosity" title="Puede que sea necesario reiniciar el servidor nuevamente con el comando 'ng serve' tras los siguientes comandos.">(?)</abbr></h5>
            <p class="margin">
                Terminal de Code: <br>
                <b>
                git add --all <br>
                git commit -m "Lista de items" <br><br>   
                </b>
            </p>
        </div> 

        <!-- "Pagina" -->
        <!-- Fontawesome -->
        <div class="border padding">
            <div class="margin">
                <h5>FontAwesome en Angular</h5>
                <p>
                    Usaremos iconos de Fontawesome en nuestra lista de tareas: <br> <br>

                    Como la tecnologia se va actualizando constantemente, en Angular ciertas cosas van cambiando, en este caso el uso de FontAwesome. En el siguiente link encontrara las instrucciones para habilitar (hoy por hoy) FontAwesome en su actual proyecto:
                    <a href="https://github.com/FortAwesome/angular-fontawesome" target="_blank">GitHub-FontAwesome</a>
                </p>
            </div> 
            <div class="directorio">
                <i class="fa fa-folder icon-folder"></i> <p class="inline">src</p>
                <div class="dir-folder">
                    <ul type="disc">
                        <li>app</li>
                        <ul type="disc">
                            <li>components</li>
                            <ul type="disc">
                                <li>tasks-item</li>
                            </ul>
                        </ul>
                    </ul>
                </div>
            </div>    
            
            <div class="border padding margin">
                <p>tasks-item.component.<b>ts</b>:</p>
                <pre>
                    <code>
    import { Component, OnInit, Input } from '@angular/core';
    import {Task} from '../../Task'
    import {TASKS} from '../../mock-tasks'
    <span class="new-code">import { faTimes } from '@fortawesome/free-solid-svg-icons';</span>    
    
    @Component({
      selector: 'app-tasks-item',
      templateUrl: './tasks-item.component.html',
      styleUrls: ['./tasks-item.component.css']
    })
    export class TasksItemComponent implements OnInit {
      @Input() task: Task = TASKS[0]
      <span class="new-code">faTimes = faTimes;</span>      
    
      constructor() { }
    
      ngOnInit(): void {
      }
    
    }
                    </code>
                </pre>
            </div>

            <div class="border padding margin">
                <p>task-item.component.<b>html</b>:</p>
                <pre>
                    <code>
    &lt;div class="task"&gt;
    &lt;h3&gt;{{task.text}} <span class="new-code">&lt;fa-icon &#91;icon&#93;="faTimes" [ngStyle] = "{'color':'red'}"&gt;</span>&lt;/h3&gt;
        &lt;p&gt;{{task.day}}&lt;/p&gt;
    &lt;/div&gt;                    
                    </code>
                </pre>
            </div>
        </div>

        <!-- "Pagina" -->
        <!-- Git 4 -->
        <div class="border padding">
            <h3 class="inline margin">Git</h3>
            <h5 class="inline"><abbr class="abbr-caution" title="Esto es opcional.">(?)</abbr> <abbr class="abbr-curiosity" title="Puede que sea necesario reiniciar el servidor nuevamente con el comando 'ng serve' tras los siguientes comandos.">(?)</abbr></h5>
            <p class="margin">
                Terminal de Code: <br>
                <b>
                git add --all <br>
                git commit -m "Componente de lista de items" <br><br> 
                
                git checkout master <br>
                git merge task_list <br> <br>

                git branch server_task <br>
                git checkout server_task
                </b>
            </p>
        </div> 

        <div class="border">
            <div class="margin">
                <h5>Servicio de la Lista de Tareas:</h5>
                <p>
                    Proseguimos con la creacion de un Servicio en Angular el cual usaremos para nuestros datos en la Lista de Tareas. Por ahora nuestras tareas se encuentran en Registros dentro de un Array el cual no puede ser modificado ni recivir nuevas tareas (este Array lo creamos para estructurar tempranamente ciertos aspectos). <br> <br>
                    Terminal en Code: <b>ng generate service service/task</b> <br> <br>
                    Ahora haremos que nuestros archivos Mock e Interface sean manejados por el servicio:
                </p>
            </div>
            <div class="directorio">
                <i class="fa fa-folder icon-folder"></i> <p class="inline">src</p>
                <div class="dir-folder">
                    <ul type="disc">
                        <li>app</li>
                        <ul type="disc">
                            <li>components</li>
                            <ul type="disc">
                                <li>tasks</li>
                            </ul>
                        </ul>
                    </ul>
                </div>
            </div>
            <div class="border padding margin">
                <p>task.component.<b>ts</b>:</p>
                <pre>
                    <code>
    import { Component, OnInit } from '@angular/core';
    <span class="delete-code">import {Task} from '../../Task'</span>
    <span class="delete-code">import {TASKS} from '../../mock-tasks'</span>
    
    @Component({
      selector: 'app-tasks',
      templateUrl: './tasks.component.html',
      styleUrls: ['./tasks.component.css']
    })
    export class TasksComponent implements OnInit {
      tasks: Task[] = TASKS;
    
      constructor() { }
    
      ngOnInit(): void {
      }
    
    }     
                    </code>
                </pre>

            </div>

            <div class="directorio">
                <i class="fa fa-folder icon-folder"></i> <p class="inline">src</p>
                <div class="dir-folder">
                    <ul type="disc">
                        <li>app</li>
                        <ul type="disc">
                            <li>service</li>
                        </ul>
                    </ul>
                </div>
            </div>

            <div class="border padding margin">
                <p>task.service.<b>ts</b>:</p>
                <pre>
                    <code>
    import { Injectable } from '@angular/core';
    <span class="new-code">import {Task} from '../Task'</span>
    <span class="new-code">import {TASKS} from '../mock-tasks'</span>
    
    @Injectable({
      providedIn: 'root'
    })
    export class TaskService {
    
      constructor() { }
    }  
                    </code>
                </pre>

            </div>

            <div class="margin">
                <p>
                    Devolucion de tareas:
                </p>
            </div>
            <div class="border padding margin">
                <p>task.service.<b>ts</b>:</p>
                <pre>
                    <code>
    import { Injectable } from '@angular/core';
    import {Task} from '../Task'
    import {TASKS} from '../mock-tasks'
    
    @Injectable({
      providedIn: 'root'
    })
    export class TaskService {
    
      constructor() { }

      <span class="new-code">getTask(){</span>
        <span class="new-code">return TASKS</span>
      <span class="new-code">}</span>
    }  
                    </code>
                </pre>
            </div>

            <div class="margin">
                <p>
                    Condicionamos la Logica de nuestro Componente Task para que opere con nuestro Servicio:
                </p>
            </div>

            <div class="directorio">
                <i class="fa fa-folder icon-folder"></i> <p class="inline">src</p>
                <div class="dir-folder">
                    <ul type="disc">
                        <li>app</li>
                        <ul type="disc">
                            <li>components</li>
                            <ul type="disc">
                                <li>tasks</li>
                            </ul>
                        </ul>
                    </ul>
                </div>
            </div>

            <div class="border padding margin">
                <p>tasks.component.<b>ts</b>:</p>
                <pre>
                    <code>
    import { Component, OnInit } from '@angular/core';
    <span class="new-code">import { TaskService } from '../../service/task.service';</span>
    <span class="new-code">import {Task} from '../../Task'</span>
    
    @Component({
      selector: 'app-tasks',
      templateUrl: './tasks.component.html',
      styleUrls: ['./tasks.component.css']
    })
    export class TasksComponent implements OnInit {
        <span class="new-code">tasks: Task[] = [];</span>        
    
        constructor(<span class="new-code">private taskService: TaskService</span>) { }
    
        <span class="new-code">ngOnInit(): void {</span>
        <span class="new-code">this.tasks = this.taskService.getTasks();</span>
        <span class="new-code">}</span>    
        
    }
            
                    </code>
                </pre>            
            </div>

            <div class="margin">
                <p>
                    Importaremos una Libreria que nos permitira tener nuestro Servicio de manera Asincronica (ahora de momento es Sincronico):
                </p>
            </div>

            <div class="directorio">
                <i class="fa fa-folder icon-folder"></i> <p class="inline">src</p>
                <div class="dir-folder">
                    <ul type="disc">
                        <li>app</li>
                        <ul type="disc">
                            <li>service</li>
                        </ul>
                    </ul>
                </div>
            </div>

            <div class="border padding margin">
                <p>task.service.<b>ts</b>:</p>
                <pre>
                    <code>
    import { Injectable } from '@angular/core';
    <span class="new-code">import {Observable, of} from 'rxjs'</span>    
    import {Task} from '../Task'
    import {TASKS} from '../mock-tasks'
    
    @Injectable({
      providedIn: 'root'
    })
    export class TaskService {
    
      constructor() { }
    
      getTasks():<span class="new-code">Observable&lt;</span>Task[]<span class="new-code">&gt;</span>{
        <span class="new-code">const tasks = of(TASKS);</span>
        return TASKS
      }
    }
                    </code>
                </pre>            
            </div>

            <div class="directorio">
                <i class="fa fa-folder icon-folder"></i> <p class="inline">src</p>
                <div class="dir-folder">
                    <ul type="disc">
                        <li>app</li>
                        <ul type="disc">
                            <li>components</li>
                            <ul type="disc">
                                <li>tasks</li>
                            </ul>
                        </ul>
                    </ul>
                </div>
            </div>

            <div class="border padding margin">
                <p>tasks.component.<b>ts</b>:</p>
                <pre>
                    <code>
    import { Component, OnInit } from '@angular/core';
    import { TaskService } from '../../service/task.service';
    import {Task} from '../../Task'
    
    @Component({
      selector: 'app-tasks',
      templateUrl: './tasks.component.html',
      styleUrls: ['./tasks.component.css']
    })
    export class TasksComponent implements OnInit {
      tasks: Task[] = [];
    
      constructor(private taskService: TaskService) { }
    
      ngOnInit(): void {
        <span class="delete-code">this.tasks = this.taskService.getTasks();</span>
        <span class="new-code">this.taskService.getTasks().subscribe((tasks)=>(this.tasks = tasks));</span>
      }
    
    }
                    </code>
                </pre>            
            </div>

            <!-- JSON -->
            <div class="margin">
                <h5>JSON: Emulador de Base de Datos.</h5>
                <p>Terminal de Code: <b>npm install json-server</b></p>
            </div>

            <div class="directorio">
                <i class="fa fa-folder icon-folder"></i> <p class="inline">task-list</p>
                <div class="dir-folder">
                </div>
            </div>

            <div class="border padding margin">
                <p>package.<b>json</b></p>
                <pre>
                    <code>
    {
        "name": "task-list",
        "version": "0.0.0",
        "scripts": {
          "ng": "ng",
          "start": "ng serve",
          "build": "ng build",
          "watch": "ng build --watch --configuration development",
          "test": "ng test"<span class="new-code">,</span>
          <span class="new-code">"server": "json-server --watch db.json --port 5000"</span>          
        },
        "private": true,
        "dependencies": {
          "@angular/animations": "~13.3.0",
          "@angular/common": "~13.3.0",
          "@angular/compiler": "~13.3.0",
          "@angular/core": "~13.3.0",
          "@angular/forms": "~13.3.0",
          "@angular/platform-browser": "~13.3.0",
          "@angular/platform-browser-dynamic": "~13.3.0",
          "@angular/router": "~13.3.0",
          "@fortawesome/angular-fontawesome": "^0.10.2",
          "@fortawesome/fontawesome-svg-core": "^6.1.1",
          "@fortawesome/free-solid-svg-icons": "^6.1.1",
          "angular-font-awesome": "^3.1.2",
          "font-awesome": "^4.7.0",
          "json-server": "^0.17.0",
          "rxjs": "~7.5.0",
          "tslib": "^2.3.0",
          "zone.js": "~0.11.4"
        },
        "devDependencies": {
          "@angular-devkit/build-angular": "~13.3.2",
          "@angular/cli": "~13.3.2",
          "@angular/compiler-cli": "~13.3.0",
          "@types/jasmine": "~3.10.0",
          "@types/node": "^12.11.1",
          "jasmine-core": "~4.0.0",
          "karma": "~6.3.0",
          "karma-chrome-launcher": "~3.1.0",
          "karma-coverage": "~2.1.0",
          "karma-jasmine": "~4.0.0",
          "karma-jasmine-html-reporter": "~1.7.0",
          "typescript": "~4.6.2"
        }
      }
                    </code>
                </pre>            
            </div>

            <div class="margin">
                <p>Creamos el archivo <b>db.json</b>.</p>
            </div>

            <div class="border padding margin">
                <p>db.<b>json</b>:</p>
                <pre>
                    <code>
    <span class="new-code">{</span>
        <span class="new-code">"tasks":[</span>
            <span class="new-code">{</span>
                <span class="new-code">"id":1,</span>
                <span class="new-code">"text":"Terminar primer modulo de Angular",</span>
                <span class="new-code">"day":"Agosto 5 a las 12:00",</span>
                <span class="new-code">"reminder": true</span>
            <span class="new-code">},</span>
            <span class="new-code">{</span>
                <span class="new-code">"id":2,</span>
                <span class="new-code">"text":"Hacer las compras para la cena",</span>
                <span class="new-code">"day":"Agosto 5 a las 17:00",</span>
                <span class="new-code">"reminder": true</span>
            <span class="new-code">},</span>
            <span class="new-code">{</span>
                <span class="new-code">"id":3,</span>
                <span class="new-code">"text":"Investigar sobre Boostrap",</span>
                <span class="new-code">"day":"Agosto 5 a las 19:00",</span>
                <span class="new-code">"reminder": false</span>
            <span class="new-code">}</span> 
        <span class="new-code">]</span>  
    <span class="new-code">}</span>  
                    </code>
                </pre>            
            </div>

            <div class="margin">
                <p>Terminal de Code: <b>npm run server</b></p>
            </div>
            
            <!-- Hasta 1:05 hora visto, aprox. -->


        </div>





            
    </section>

    <!-- Ideas. Para la APP de esta misma pagina, tal cual GrassHopper, palabras claves como Registro, Array, sean precionables para explicar tal concepto en programacion. -->
</body>
</html>